.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: hidden;
}

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

#details{
    padding: 40px;
    background-color: lightgrey
}

#concept{
    padding: 40px;
}

.navbar {
    height: 4em;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.full-width-row {
    overflow-x: hidden;
}

.page-footer {
    /* background-color: brown; */
}

.footer-list {
    list-style-type: none;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    border: none !important
}

.card-img-top{
    border-radius: 140px !important;
}
