
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: hidden;
}

#details{
    padding: 40px;
    background-color: lightgrey
}

#concept{
    padding: 40px;

}

.navbar {
    height: 4em;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.full-width-row {
    overflow-x: hidden;
}