@font-face {
    font-family: 'impact_label'; /*a name to be used later*/
    src: url('font/impact_label/Impact\ Label.ttf'); /*URL to font*/
  }
  @font-face {
    font-family: 'amethyst'; /*a name to be used later*/
    src: url('font/amethyst/Amethyst.ttf'); /*URL to font*/
  }

.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: hidden;
}
#logo-title{
    width: 170px;
    height: auto;
    margin-top: 60px;
}
#main-title{
    font-family: amethyst;
    font-size: 55px;
}
#details{
    background-color: lightgrey
}
#feed-insta{
    margin-bottom: 50px
}
#space-logo{
    padding-right: 240px
}
#concept{
    padding: 40px;
}
#carouselExampleFade{
    margin-top: 90px
}
.navbar {
    height: 4em;
    background-color: rgba(255, 255, 255, 0.97);
    height: 90px
}
#outerDiv{
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
.garantie{
    padding: 20px
}
#footer-div{
    padding-bottom: 80px
}
.full-width-row {
    overflow-x: hidden;
}

.page-footer {
    background-color: black;
}

.footer-list {
    list-style-type: none;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    border: none !important
}

.card-img-top{
    border-radius: 140px !important;
}

.title{
    margin-top: 40px;
    margin-bottom: 30px
}
#confirmAlert{
    margin-top: 90px;
    display: none
}
.first_element{
    margin-top: 90px
}
#confimrtext{
    display: inline
}
p.italic{
    font-style: italic;
    color: darkgrey
}

.carousel-caption {
    top: 70%;
    left: 50%;
}

.btn-buy{
    width: 180px;
}

h2{
    font-family: impact_label !important;
}

#visubox{
    width: 100%;
    height: 100%;
}
#price{
    display: block;
}
.form-content{
    margin-top: 10px;
    margin-bottom: 10px;
}

#mySubmit{
    margin-top: 10px
}

#imgCommande{
    margin-bottom: 20px
}
.on-dark{
    color: bisque;
}

footer a {
        color: white;
    }
    
footer a:hover 
    {
        color:whitesmoke;    
    }


/* =================================== */
/* Carousel pour les anciennes box */

#oldbox .carousel-inner .carousel-item-right.active,
#oldbox .carousel-inner .carousel-item-next {
  transform: translateX(33%);
}

#oldbox .carousel-inner .carousel-item-left.active, 
#oldbox .carousel-inner .carousel-item-prev {
  transform: translateX(-33%)
}
  
#oldbox .carousel-inner .carousel-item-right,
#oldbox .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

#oldbox .d-block{
    display: inline !important;
}

#oldbox .img-fluid{
    width:  33%;
    height: 33%;
    padding-right: 0;
    padding-left: 0
}

#oldbox{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    max-width: unset;
}

/* =================================== */

.appear{
    opacity:0;
    position: relative;
    top: 30px;
  }

.hideme{
    opacity:0;
}
@media screen and (min-width: 992px) {
    .navbar-nav{
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }
}
@media screen and (max-width: 992px) {
    .navbar-nav{
        background-color: rgba(255, 255, 255, 0.97);
    }

    #logo-title{
        width: 140px;
        height: auto;
        margin-top: 35px;
    }
}
@media screen and (max-width: 576px) {
    .carousel-caption {
        top: 50%;
        right: 15%;
        left: 15%;
    }

    #oldbox .img-fluid{
        width:  100%;
        height: auto;
        padding-bottom: 10px
    
    }



    #oldbox .carousel-inner .carousel-item-right.active,
#oldbox .carousel-inner .carousel-item-next {
  transform: translateY(33%);
}

#oldbox .carousel-inner .carousel-item-left.active, 
#oldbox .carousel-inner .carousel-item-prev {
  transform: translateY(-33%)
}
  
#oldbox .carousel-inner .carousel-item-right,
#oldbox .carousel-inner .carousel-item-left{ 
  transform: translateY(0);
}
}



/* =================================== */
/* Loading animation */

#loading-register{
    display: none
}
.load-wrapp {
    float: left;
    width: 100px;
    height: 55px;
    margin: 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #ffffff;
}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

/* Animate the stuff */

.load-3 .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
.load-3 .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
.load-3 .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}

@keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}
/* =================================== */
